# Set root logger level to DEBUG and its only appender to A1.
log4j.rootLogger=INFO, A1, R

# A1 is set to be a ConsoleAppender.
log4j.appender.A1=org.apache.log4j.ConsoleAppender

# A1 uses PatternLayout.
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n
log4j.appender.A1.layout.ConversionPattern=%-5p %c{1} (%F:%L)\r\n   %x - %m%n

# R is set to be a RoolingFileAppender
log4j.appender.R=org.apache.log4j.RollingFileAppender
log4j.appender.R.File=log/xntransperwbs/log.txt

log4j.appender.R.MaxFileSize=20000KB
# Keep three backup file
log4j.appender.R.MaxBackupIndex=50

log4j.appender.R.layout=org.apache.log4j.PatternLayout
#log4j.appender.R.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-4r %-5p [%t] %c - %m%n
log4j.appender.R.layout.ConversionPattern=%-5p %d{yyyy-MM-dd HH:mm:ss} %-4r %c{1} (%F:%L)\r\n - %m%n
